<div class="instructors" style="width: 100%">
    <div class="profile-container">
        {% assign instructorIDs =  product.metafields.units.instructorID.value | split: "&" %}
        {% for singlePage in pages %}
            {% if singlePage.metafields.global.instructor %}
                {% assign pageInstructorId = singlePage.metafields.global.instructor | downcase %}
                {% if instructorIDs contains pageInstructorId %}
      <div class="profile-card">
        {%- if singlePage.metafields.global.instructorpic != blank and singlePage.metafields.global.instructorpic.type == "file_reference"-%}
        <img src="{{ singlePage.metafields.global.instructorpic | img_url: '500x500' }}" alt="image1" class="profile-icon" />
        <div class="profile-name">{{ singlePage.title | escape }}</div>
        <div class="profile-position">{{ singlePage.metafields.global.instructortitle }}</div>
        <a href="{{ singlePage.url }}" class="button">Bemutatkozás</a>
    {% endif %}
      </div>   
      {% endif %}{% endif %}
        {% endfor %}
    </div>
</div>