/* TALENT Unit style */

.units ul {
    list-style: none;
}

.unit_icon svg {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    color: var(--gradient-base-accent-1) !important;
}

.unit_section {
    border-bottom-color: var(--gradient-base-accent-1) !important;
    border-bottom: 2px solid;
}

.instructor_name {
    color: rgb(var(--color-foreground));
}


/*
 CSS for the tabs
*/
.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}



.tabset>label {
    position: relative;
    display: inline-block;
    padding: 8px 15px 8px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: var(--gradient-base-accent-1);
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: var(--gradient-base-accent-1);
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: var(--gradient-base-accent-2);
}

.tabset>input:checked+label {
    margin-bottom: -1px;
    background-color: var(--gradient-base-accent-1);
    color: seashell;
}

.tab-panel {
    padding: 30px 0;
    border-top: 4px solid var(--gradient-base-accent-1);
}


*,
*:before,
*:after {
    box-sizing: border-box;
}



.tabset {
    max-width: 90%;
}

/*
 CSS for the accordion
*/


.units h2 {
    margin: 20px auto 80px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
}

.units details {
    width: 95%;
    min-height: 5px;
    padding: 12px 12px 12px 12px;
    margin: 4 auto;
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    transition: all .3s;
}

details+details {
    margin-top: 20px;
}

details[open] {
    min-height: 50px;
}

details p {
    color: #96999d;
    font-weight: 300;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

summary:focus {
    outline: none;

}

.units summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

summary::-webkit-details-marker {
    display: none
}

.control-icon {
    fill: rebeccapurple;
    transition: .3s ease;
    pointer-events: none;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
}

details[open] .control-icon-expand {
    display: none;
}


/* instructor card */

.profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 30px;
}

.profile-card {
    flex: 1 1 30%;
    max-width: 300px;
    background: #fff;
    padding: 12px 12px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #ccc;
    transition: .3s;
}

.profile-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px -5px #ccc;
}

.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0 12px 0;
}

.profile-position {
    font-size: 14px;
    color: #777;
    margin: 0 0 12px 0;
}



@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}